#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  background-color: white;
  border-radius: 40px;
  margin: 0 auto;
  padding: 4px;
  min-height: 800px;
}

.title {
  color: rgb(229, 226, 226);
  margin-top: 0;
}

.phone {
  border: 2px solid black;
  border-radius: 40px;
  margin: 0 auto;
  padding: 12px;
  padding-bottom: 4px;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  width: 96px;
  height: 4px;
  background-color: rgba(20, 16, 16, 0.416);
  border-radius: 32px;
  margin: 0 auto;
  margin-top: 4px;
}
